.badge {
	font-size: 0.75rem;
	line-height: 1;
	font-weight: 600;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	background-color: #d1d5db;
	color: var(--text-color);

	&:not(:first-child) {
		margin-left: 0.5rem;
	}

	.dark & {
		color: #111827;
	}

	&-primary {
		background-color: var(--color-primary-light);
		color: var(--color-primary);
	}

	&-info {
		background-color: var(--info-color);
		color: #fff;
	}

	&-warning {
		background-color: var(--warning-color);
	}

	&-error,
	&-danger {
		background-color: var(--error-color);
		color: #fff;
	}

	&-success {
		background-color: #10b981;
		color: #fff;
	}
}
