.badge {
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    background-color: #d1d5db;
    color: #11182b;

    &:hover {
        color: #11182b;
    }

    .dark & {
        color: #11182b;

        &:hover {
            color: #11182b;
        }
    }

    &-info {
        background-color: #0ea5e9;
        color: #1e40af;

        &:hover {
            color: #1e40af;
        }

        .dark & {
            color: #1e40af;

            &:hover {
                color: #1e40af;
            }
        }
    }

    &-warning {
        background-color: #fdf2cd;
        color: #b45309;

        &:hover {
            color: #b45309;
        }

        .dark & {
            color: #b45309;

            &:hover {
                color: #b45309;
            }
        }
    }
}
