button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
[role="button"] {
  cursor: pointer;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 2px solid #404040;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.4s;

  &.icon-only {
    padding: 0.75rem 1rem;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }

  &:not(.icon-only) {
    .icon {
      transition: opacity 0.4s;
      opacity: 0.4;
      margin: 0 0.5rem 0 -0.25rem;
    }

    &.btn-sm .icon {
      margin: 0 0.35rem 0 -0.25rem;
    }
  }

  &:hover {
    border-color: var(--primary-color);
    color: var(--text-color);

    .icon {
      &:not(:only-child) {
        opacity: 0.6;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-sm {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
}

.btn-primary {
  border-color: var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);

  &:hover {
    background-color: #0284c7;
    color: #fff;
  }
}

.btn-primary-outline {
  background: #0284c7;
  border-color: transparent;
  color: #fff;
  transition: background 0.4s;

  &:hover {
    background: #0284c777;
    color: #fff;
  }
}

.btn-danger {
  border-color: #dc2626;
  color: #fff;
  background-color: #dc2626;

  &:hover {
    border-color: #dc2626;
    background-color: #b91c1c;
    color: #fff;
  }
}

.btn-danger-outline {
  border-color: #dc2626;

  &:hover {
    border-color: #b91c1c;
  }
}

.btn-block {
  width: 100%;

  .icon {
    margin-left: -1.75rem;
  }
}
