.field {
  appearance: none;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.65rem 0.9rem;
  border: 1px solid var(--field-border-color);
  color: var(--field-color);
  background-color: var(--field-background);
  outline: none;
  box-shadow: none !important;
  border-radius: 0.375rem;

  @media (min-width: 640px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  &::placeholder {
    color: #6b7280;
  }

  &:focus {
    border-color: var(--primary-color);
    z-index: 10;
    box-shadow: none !important;
  }

  &.field-no-rounded {
    border-radius: unset;
  }

  &.field-password {
    padding-right: 2.25rem;
  }

  &.field-search {
    font-size: 1.5rem;
  }

  &.has-error {
    border-color: var(--error-color);
  }

  &[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    padding: 0;
    display: inline-block;
    vertical-align: -0.15em;
    user-select: none;
    cursor: pointer;
    margin-right: 0.35rem;
    border-radius: 0.25rem;

    &:checked {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

select.field {
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="5" viewBox="0 0 8 5" fill="%23111827" xmlns="http://www.w3.org/2000/svg"><path d="M0.94 0L4 3.09042L7.06 0L8 0.951417L4 5L0 0.951417L0.94 0Z" /></svg>');
  background-position: calc(100% - 1rem) calc(0.75rem + 2px);
  background-size: 0.6rem 0.6rem;
  background-repeat: no-repeat;
  padding-right: 25px;
  cursor: pointer;
}

.dark select.field {
  background-image: url('data:image/svg+xml;utf8,<svg width="8" height="5" viewBox="0 0 8 5" fill="%23a3a3a3" xmlns="http://www.w3.org/2000/svg"><path d="M0.94 0L4 3.09042L7.06 0L8 0.951417L4 5L0 0.951417L0.94 0Z" /></svg>');
}

.field-error-message {
  color: var(--error-color);
  text-align: left;
}

label + .field[type="checkbox"] {
  margin-left: 0.35rem;
  margin-right: 0;
}

.form-submit {
  display: flex;
  justify-content: flex-end;
}

.form-group:has(+ .form-submit) {
  padding-bottom: 1rem;
}

label {
  cursor: pointer;
}
