body {
	color: var(--text-color);
	font-size: 0.875rem;
	line-height: 1.2;
	background-color: var(--background-color);
	height: 100%;
}

a {
	color: var(--link-color);
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--link-hover-color);
	}
}

table th {
	font-weight: 600;
	color: #111827;

	.dark & {
		color: #9ca3af;
	}
}

#app {
	height: 100%;
}

.background-mask {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,192L80,197.3C160,203,320,213,480,202.7C640,192,800,160,960,170.7C1120,181,1280,235,1360,261.3L1440,288L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
	mask-size: 100% 111%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	z-index: -1;
	background-color: var(--primary-color);

	@media all and (min-width: 1024px) {
		height: 290px;
	}
}

.container {
	width: 94%;
	max-width: var(--container-width);
	margin: 0 auto;
}

.panel {
	background-color: var(--panel-background);
	padding: 1.25rem;
	border-radius: 0.375rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	margin-bottom: 2rem;

	&-title {
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 500;
		padding-bottom: 0.25rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid var(--panel-border-color);
	}

	&-header {
		display: flex;
		padding-bottom: 0.75rem;
		margin-bottom: 1rem;
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: 1px solid var(--panel-border-color);

		h3 {
			font-size: 1.125rem;
			line-height: 1.75rem;
			font-weight: 500;
		}
	}

	&-title,
	&-header {
		&:not(:first-child) {
			margin-top: 1.5rem;
		}
	}

	&-table {
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;

		@media (min-width: 768px) {
			overflow-y: hidden;
		}
	}

	.dark & {
		box-shadow: none;
	}
}

*[data-tooltip] {
	position: relative;

	&:before {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		position: absolute;
		border-radius: 0.25rem;
		padding: 0.25rem 0.75rem;
		background-color: #374151;
		color: #fff;
		font-size: 0.875rem;
		bottom: calc(100% + 2px);
		left: -0.75rem;
		content: attr(data-tooltip);
		white-space: nowrap;
		display: none;
	}

	&:after {
		pointer-events: none;
		content: "";
		position: absolute;
		left: 50%;
		bottom: 100%;
		margin-bottom: -8px;
		transform: translateX(-50%);
		border: 6px solid transparent;
		border-top-color: #374151;
		display: none;
	}

	&:hover:before,
	&:hover:after {
		display: block;
	}
}

.tooltip-position-left[data-tooltip]:before {
	left: auto;
	right: -0.75rem;
}

.tooltip-position-center[data-tooltip]:before {
	left: 50%;
	transform: translateX(-50%);
}

svg {
	display: inline;
	vertical-align: -0.1em;
}

.text-divider {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.text-divider::before,
.text-divider::after {
	flex: 1 1 0%;
	height: 1px;
	background-color: #d1d5db;
	content: "\00a0";

	.dark & {
		background-color: #262626;
	}
}

.icon {
	&-muted {
		color: var(--text-color-muted);
	}

	&-info {
		color: var(--info-color);
	}

	&-success {
		color: var(--success-color);
	}

	&-error {
		color: var(--error-color);
	}

	&-warning {
		color: var(--warning-color);
	}

	&-passkey {
		transform: translateX(-0.125rem) scale(1.3);
	}

	&-trash {
		transform: scale(0.8);
	}

	&-xs {
		font-size: .65rem;
		vertical-align: 0;
	}
}
