html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--background-color);
}

a,
.link {
  color: var(--link-color);
  transition: color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--link-hover-color);
  }
}

table th {
  font-weight: 600;
  color: var(--data-table-head-color);
}

.dark table th {
  color: var(--data-table-head-color);
}

#app {
  height: 100%;
}

.container {
  width: 94%;
  max-width: var(--container-width);
  margin: 0 auto;
}

svg {
  display: inline;
  vertical-align: -0.1em;
}

.text-divider {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.text-divider::before,
.text-divider::after {
  flex: 1 1 0%;
  height: 1px;
  background-color: var(--panel-border-color);
  content: "\00a0";
}

.dark .text-divider::before,
.dark .text-divider::after {
  background-color: var(--panel-border-color);
}

.icon-muted {
  color: var(--text-color-muted);
}

.icon-info {
  color: var(--info-color);
}

.icon-success {
  color: var(--success-color);
}

.icon-error {
  color: var(--error-color);
}

.icon-warning {
  color: var(--warning-color);
}

.icon-passkey {
  transform: translateX(-0.125rem) scale(1.3);
}

.icon-trash {
  transform: scale(0.8);
}

.icon-xs {
  font-size: 0.65rem;
  vertical-align: 0;
}
