/* Nutzer menu */
.menu {
  position: relative;

  .icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    color: var(--menu-icon-color);
    margin-right: 0.25rem;
  }
}

.menu-panel {
  position: absolute;
  top: 110%;
  right: 0;
  width: 12rem;
  border-radius: 0.375rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--panel-background);
  z-index: 20;
  overflow: hidden;
}

.panel .menu-panel {
  border: 1px solid var(--panel-border-color);
}

.menu-header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--panel-border-color);
}

.menu-name {
  font-weight: 500;
}

.menu-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  color: var(--text-color);

  &:hover {
    background-color: var(--menu-item-active-background-color);
    color: var(--text-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
