.pill {
  font-size: 0.75rem;
  display: inline-block;
  padding: 0.125rem 0.5rem;
  border-radius: 9999px;
  background-color: #d1d5db;
  white-space: nowrap;
}

.dark .pill {
  color: #111827;
}

.pill-success {
  background-color: var(--success-color);
}

.pill-info {
  background-color: var(--info-color);
}

.pill-warning {
  background-color: var(--warning-color);
}

.pill-error {
  background-color: var(--error-color);
  color: #ffffff;
}
