:root {
    --container-width: 90rem;
    --primary-color: #0ea5e9;
    --background-color: #f3f4f6;
    --text-color: #111827;
    --text-color-muted: #6b7280;
    --link-color: #0369a1;
    --link-hover-color: #0284c7;
    --info-color: #3b82f6;
    --info-background: #cff4fc;
    --success-color: #86efac;
    --success-background: #e3f7ee;
    --error-color: #dc2626;
    --error-background: #f8d7da;
    --warning-color: #facc15;
    --warning-background: #fff3cd;
    --sidebar-nav-link-color: #111827;
    --panel-background: #ffffff;
    --panel-border-color: #e5e7eb;
    --item-background: #f9fafb;
    --item-odd-background: #ededed;
    --item-hover-background: #f0f9ff;
    --item-title-color: #1f2937;
    --item-sub-background: #e5e7eb80;
    --item-icon-color: #4b5563;
    --section-title-color: #6b7280;
    --section-title-border-color: #cbd5e1;
    --notification-border-color: #e5e7eb;
    --menu-item-active-background-color:#f3f4f6;
    --menu-icon-color:#0c84c2;
    --data-table-head-background: #f8fafc;
    --data-table-head-color: #4b5563;
    --data-table-row-background: #f9fafb;
    --data-table-row-odd-background: #e5e7eb;
    --data-table-row-hover-background: #f0f9ff;
    --field-background: #fff;
    --field-color: #1a202c;
    --field-border-color: #d1d5db;
}

:root.dark {
    --background-color: #171717;
    --text-color: #a3a3a3;
    --text-color-muted: #737373;
    --link-color: #38bdf8;
    --link-hover-color: #0ea5e9;
    --info-color: #38bdf8;
    --info-background: #032830;
    --success-color: #86efac;
    --success-background: #051b11;
    --error-color: #f87171;
    --error-background: #2c0b0e;
    --warning-color: #fef08a;
    --warning-background: #332701;
    --sidebar-nav-link-color: #ffffff;
    --panel-background: #262626;
    --panel-border-color: #404040;
    --item-background: #2b2b2b;
    --item-odd-background: #2b2b2b;
    --item-hover-background: #2a2b2f;
    --item-title-color: #d1d5db;
    --item-sub-background: #40404040;
    --item-icon-color: #d1d5db;
    --section-title-color: #6b7280;
    --section-title-border-color: #262626;
    --notification-border-color: #404040;
    --menu-item-active-background-color:#374151;
    --menu-icon-color:#60a5fa;
    --data-table-head-background: #262626;
    --data-table-head-color: #d1d5db;
    --data-table-row-background: #2b2b2b;
    --data-table-row-odd-background: #262626;
    --data-table-row-hover-background: #2a2b2f;
    --field-background: #171717;
    --field-color: #a3a3a3;
    --field-border-color: #262626;
}
