@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 text-sm bg-gray-100 dark:bg-neutral-900 dark:text-neutral-400;
}

a {
  @apply text-sky-700 hover:text-sky-600 dark:text-sky-400 dark:hover:text-sky-500;
}

.btn {
  @apply relative inline-flex items-center justify-center py-2 px-4 border-2 border-gray-300 text-sm font-medium rounded-md focus:outline-none hover:border-sky-500 dark:border-neutral-700 dark:hover:border-sky-500 dark:text-neutral-400 dark:hover:text-neutral-400;
}

.btn-primary {
  @apply border-sky-500 text-white bg-sky-500 hover:bg-sky-600 hover:text-white dark:border-sky-500 dark:text-white dark:hover:text-white;
}

.btn-danger {
  @apply border-red-600 text-white bg-red-600 hover:bg-red-700 hover:text-white hover:border-red-600 dark:bg-red-400 dark:border-red-400 dark:hover:bg-red-600 dark:hover:border-red-400 dark:text-white dark:hover:text-white;
}

.btn-danger-outline {
  @apply border-red-400 text-gray-900 hover:text-gray-900 hover:border-red-700 dark:border-red-400 dark:hover:border-red-600 dark:text-neutral-400 dark:hover:text-neutral-400;
}

.badge {
  @apply text-xs font-semibold inline-block py-1 px-2 ml-2 rounded bg-gray-300 text-gray-900 hover:text-gray-900 dark:text-gray-900 dark:hover:text-gray-900
}

.badge-warning {
  @apply bg-amber-200 text-amber-700 hover:text-amber-700 dark:text-amber-700 dark:hover:text-amber-700
}

.field-no-rounded {
  @apply appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 dark:bg-neutral-900 dark:border-neutral-800 dark:placeholder-gray-500 dark:text-neutral-400 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 sm:text-sm;
}

.field {
  @apply field-no-rounded rounded-md;
}

.field-no-rounded.has-error,
.field.has-error {
  @apply border-red-600 relative z-10;
}

.field-password {
  @apply pr-9;
}

table th {
  @apply font-semibold text-sky-900 dark:text-gray-400;
}

*[data-tooltip] {
  @apply relative;
}

*[data-tooltip]:before {
  @apply shadow absolute rounded py-1 px-3 bg-gray-700 text-white shadow whitespace-nowrap;
  content: attr(data-tooltip);  
  bottom: calc(100% + 2px);
  left: -.75rem;
  display: none;
}

*[data-tooltip]:after {  
  content: "";
  position:absolute;
  left:50%;
  bottom:100%;
  margin-bottom: -8px;
  transform:translateX(-50%);
  border: 6px solid transparent;
  @apply border-t-gray-700;
  display:none;
}

*[data-tooltip]:hover:before, *[data-tooltip]:hover:after {
  display:block;
}

.tooltip-position-left[data-tooltip]:before {
  left: auto;
  right: -.75rem;
}

svg {
  @apply inline;
  vertical-align: -0.2em;
}