# Security
APP_SECRET=70fcfac702ddcdcdc1d3608d0f1f0916b210b8f59f6f31176c9b8119123fc7f1

# Email
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@shopmon.io

# External APIs
PAGESPEED_API_KEY=

# Application
FRONTEND_URL=http://localhost:5173
DISABLE_REGISTRATION=false
APP_FILES_DIR=./files

# Monitoring (optional)
SENTRY_DSN=
